#!/bin/sh

# Author thuydang.de@gmail.com

set -x

{#  kvm_cmd: action=boot instance_name='{{quicklab_workspace}}/instances/{{item.hostname}}.{{item.image_format}}' instance_cpus={{item.cpu}} instance_ram={{item.ram}} instance_vnc={{item.vnc}} instance_cdrom="/mnt/nfv/kvm_openstack_lab/cloud-init/default/default-cidata.iso" #}
{#
sudo qemu-kvm -hda instances/controller.qcow2 -m 1024 -vnc :3 -cdrom cloud-init/default/default-cidata.iso -device e1000,netdev=br_ql_mgmt -netdev tap,id=br_ql_mgmt,ifname=controller-eth0,script=no,downscript=no -device e1000,netdev=br_ql_int,mac=xx:xx:xx:xx:xx:xx -netdev tap,id=br_ql_int,ifname=controller-eth1,script=no,downscript=no &
#}
{% for item in kvm_guests %}

qemu-kvm -hda {{quicklab_workspace}}/instances/{{item.hostname}}.{{item.image_format}} \
    {% if item.cpu_conf is defined %}
    -cpu core2duo,+vmx -enable-kvm \
    {% endif %}
    -smp cpus={{item.cpu}} \
    -m {{item.ram}} -vnc {{item.vnc}} \
    -cdrom cloud-init/default/default-cidata.iso \
    {% for router in kvm_networks %}
    -device e1000,netdev={{router.name}},mac={{item.network_interfaces[loop.index0].hwaddr}} -netdev tap,id={{router.name}},ifname={{item.hostname}}-{{item.network_interfaces[loop.index0].name}},script=no,downscript=no \
    {% endfor %}&

    sleep 3
{% endfor %}
